[alias]
	tree = log --graph --all --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cd) %C(bold blue)<%an>%Creset' --abbrev-commit --date=iso
[color]
	ui = true
[core]
	excludesfile = ~/.global-gitignore
	editor = vim
[user]
	name = somebody
	email = mail@mail
[merge]
	tool = vimdiff
